detection_class {
  module_name: "SoundDesigner.Framework"
}
interface_config {
  interface_name: "Communication Accelerator Adaptor"
  module_name: "Communication Accelerator Adaptor"
  default_interface_settings: "iovoltage=1.25V;batteryvoltage=1.25V;index=0;"
  protocol_config {
    protocol_id: kI2cProtocol
    protocol_supported: true
    default_protocol_settings: "address=10;speed=400;multi-master=off;maxTransactionSize=1024;"
  }
}
interface_config {
  interface_name: "HI-PRO"
  module_name: "HI-PRO"
  default_interface_settings: "port=default;hiprodriverversion=402;iovoltage=1.35V;"
  protocol_config {
    protocol_id: kI2cProtocol
    protocol_supported: true
    default_protocol_settings: "address=10;speed=400;"
  }
}
interface_config {
  interface_name: "DSP3"
  module_name: "DSP3"
  default_interface_settings: ""
  protocol_config {
    protocol_id: kI2cProtocol
    protocol_supported: true
    default_protocol_settings: "address=10;speed=400;"
  }
}
interface_config {
  interface_name: "Promira"
  module_name: "Promira"
  default_interface_settings: "serialNumber=0000-000000;targetpower=on;targetpowerlevel=1.25V;"
  protocol_config {
    protocol_id: kI2cProtocol
    protocol_supported: true
    default_protocol_settings: "address=10;speed=800;maxTransactionSize=1024;pullups=enabled;disconnectclose=disabled;"
  }
}
interface_config {
  interface_name: "NOAHlink"
  module_name: "NOAHlink"
  default_interface_settings: "ear=left;iovoltage=1.8V;batteryvoltage=1.35V;"
  protocol_config {
    protocol_id: kI2cProtocol
    protocol_supported: true
    default_protocol_settings: "address=10;"
  }
}
interface_config {
  interface_name: "Pulsar"
  module_name: "Pulsar"
  default_interface_settings: "targetpowerlevel=1.4V;"
  protocol_config {
    protocol_id: kI2cProtocol
    protocol_supported: true
    default_protocol_settings: "address=10;speed=800;maxTransactionSize=1024;pullups=disabled;"
  }
}
